# Video Game Data Analysis

## Loading and studying data 
---

In [2]:
import pandas as pd 
df = pd.read_csv("Data/vgsales.csv")

In [3]:
df.shape

(16598, 11)

In [4]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [5]:
df.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [6]:
df.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

## Data Cleaning
---
### Finding and dealing with null values

In [7]:
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [8]:
df.isna().mean() * 100

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            1.632727
Genre           0.000000
Publisher       0.349440
NA_Sales        0.000000
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

In [9]:
df[df.isna().any(axis=1)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

---
### Finding and dealing with duplicates

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.drop_duplicates()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

---
### Summary

In [12]:
summary = pd.DataFrame({
    "dtype": df.dtypes,
    "missing": df.isna().sum(),
    "missing_%": df.isna().mean() * 100,
    "unique": df.nunique()
})

summary

                dtype  missing  missing_%  unique
Rank            int64        0   0.000000   16598
Name           object        0   0.000000   11493
Platform       object        0   0.000000      31
Year          float64      271   1.632727      39
Genre          object        0   0.000000      12
Publisher      object       58   0.349440     578
NA_Sales      float64        0   0.000000     409
EU_Sales      float64        0   0.000000     305
JP_Sales      float64        0   0.000000     244
Other_Sales   float64        0   0.000000     157
Global_Sales  float64        0   0.000000     623

## Analysis
---

- Finding out number of unique publishers

In [13]:
Unique_publishers = df['Publisher'].nunique()
Unique_publishers

578

---
- Finding out total global sales

In [14]:
total_global_sales = float(round(df['Global_Sales'].sum(), 2))
total_global_sales

8920.44

---
- Year with highest global sales

In [15]:
df = df.dropna(subset=['Year'])
yearly_global_sales = (df.groupby('Year')['Global_Sales'].sum().sort_values(ascending = False))
yearly_global_sales.head(1)

Year
2008.0    678.9
Name: Global_Sales, dtype: float64

---
- Yearly global sales graph

yearly_global_sales.plot(kind='bar', figsize=(15,6))

--- 
- Finding out 5 games with highest global sales

In [23]:
def top5(df):
    peak_year = yearly_global_sales.idxmax()
    peak_year_df = df[df['Year'] == peak_year]
    top5 = (peak_year_df.groupby('Name')['Global_Sales'].sum().sort_values(ascending=False).head(5))
    return top5
print(top5(df))

Name
Mario Kart Wii                    35.82
Grand Theft Auto IV               22.47
Call of Duty: World at War        15.87
Super Smash Bros. Brawl           13.04
Star Wars: The Force Unleashed    10.23
Name: Global_Sales, dtype: float64

--- 
- Finding out Publisher with maximum number of games

In [24]:
publisher_with_max_games = df['Publisher'].value_counts().head(1)
publisher_with_max_games.idxmax()

'Electronic Arts'

--- 
- Finding out region with most contribution to global sale

In [25]:
region_sales = df[[ 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()
region_sales.idxmax()

'NA_Sales'

---
- Finding out contribution of japan in global sales (percentage)

In [26]:
float(round((df['JP_Sales'].sum()/region_sales.sum())*100, 2))

14.57

---
- Finding top 10 games according to global sale

In [16]:
top10 = df.groupby('Name')['Global_Sales'].sum().sort_values(ascending=False).head(10)
top10

Name
Wii Sports                        82.74
Grand Theft Auto V                55.92
Super Mario Bros.                 45.31
Tetris                            35.84
Mario Kart Wii                    35.82
Wii Sports Resort                 33.00
Pokemon Red/Pokemon Blue          31.37
Call of Duty: Modern Warfare 3    30.83
New Super Mario Bros.             30.01
Call of Duty: Black Ops II        29.72
Name: Global_Sales, dtype: float64

---
- Finding out top 5 publisher based on global sales

In [28]:
top5_publishers = df.groupby('Publisher')['Global_Sales'].sum().sort_values(ascending=False).head(5)
top5_publishers

Publisher
Nintendo                       1784.43
Electronic Arts                1093.39
Activision                      721.41
Sony Computer Entertainment     607.28
Ubisoft                         473.54
Name: Global_Sales, dtype: float64

---
- Finding out average global sales from each publisher

In [29]:
avg_globalsales = df.groupby('Publisher')['Global_Sales'].mean().sort_values(ascending=False)
avg_globalsales

Publisher
Palcom                        4.170000
Red Orb                       2.620000
Nintendo                      2.563836
Arena Entertainment           2.360000
UEP Systems                   2.250000
                                ...
Media Entertainment           0.010000
Interchannel-Holon            0.010000
Inti Creates                  0.010000
Interworks Unlimited, Inc.    0.010000
UIG Entertainment             0.010000
Name: Global_Sales, Length: 576, dtype: float64

--- 
- Finding out best Publisher from japan

In [30]:
#which publisher performs best in japan 
best_jppublisher = df.groupby('Publisher')['JP_Sales'].sum().sort_values(ascending=False).head(1)
best_jppublisher

Publisher
Nintendo    454.99
Name: JP_Sales, dtype: float64

---
- Which publisher has most globally successful game

In [31]:
top_game_row = df.loc[df['Global_Sales'].idxmax()]
top_game_row[['Name', 'Publisher', 'Global_Sales']]

Name            Wii Sports
Publisher         Nintendo
Global_Sales         82.74
Name: 0, dtype: object